assets/src/nodered/demo5.json
[{"id":"759c0351.d1157c","type":"http request","z":"57609448.b29974","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://raw.githubusercontent.com/TheEconomist/big-mac-data/master/output-data/big-mac-adjusted-index.csv","tls":"","proxy":"","authType":"","x":170,"y":160,"wires":[["e1cdc88f.611b2"]]},{"id":"adf52a18.c32008","type":"inject","z":"57609448.b29974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["759c0351.d1157c"]]},{"id":"e1cdc88f.611b2","type":"csv","z":"57609448.b29974","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,GDP_dollar,adj_price,USD,EUR,GBP,JPY,CNY","skip":"0","x":310,"y":220,"wires":[["f1a3c36e.8a424"]]},{"id":"6850001d.6cf1b8","type":"debug","z":"57609448.b29974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":220,"wires":[]},{"id":"f1a3c36e.8a424","type":"function","z":"57609448.b29974","name":"","func":"let tmp = {};\n\ntmp.date = msg.payload.date\ntmp.curcode = msg.payload.currency_code.toLowerCase();\n\nmsg.payload = tmp;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["6850001d.6cf1b8"]]}]