assets/src/nodered/demo2.json
[{"id":"2aff5fe0.0d7bb","type":"http in","z":"57609448.b29974","name":"","url":"/hello/:name","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["322a6a45.cdd436","cb4edb3a.6b4d5"]]},{"id":"724a525b.fe988c","type":"template","z":"57609448.b29974","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello OOW {{payload.name}}","output":"str","x":380,"y":220,"wires":[["3a8b1546.4ad292"]]},{"id":"3a8b1546.4ad292","type":"http response","z":"57609448.b29974","name":"","statusCode":"","headers":{},"x":560,"y":160,"wires":[]},{"id":"322a6a45.cdd436","type":"change","z":"57609448.b29974","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.params","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":200,"wires":[["724a525b.fe988c"]]},{"id":"cb4edb3a.6b4d5","type":"debug","z":"57609448.b29974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":100,"wires":[]}]