assets/src/nodered/demo4.json
[{"id":"3f105a73.b29f26","type":"inject","z":"57609448.b29974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["b3d73757.8906b8"]]},{"id":"640b1bde.c4fea4","type":"debug","z":"57609448.b29974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":440,"wires":[]},{"id":"6e889ac8.f876c4","type":"file in","z":"57609448.b29974","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":440,"wires":[["3c3b57da.913b8"]]},{"id":"3c3b57da.913b8","type":"csv","z":"57609448.b29974","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,GDP_dollar,adj_price,USD,EUR,GBP,JPY,CNY","skip":"0","x":130,"y":220,"wires":[["28869251.990dd6"]]},{"id":"7032818b.68adc8","type":"oracledb","z":"57609448.b29974","name":"","usequery":false,"query":"insert into big_mac_index(\n  bmi_date,\n  iso_a3,\n  currency_code,\n  name,\n  local_price,\n  dollar_ex,\n  dollar_price,\n  gdp_dollar,\n  adj_price,\n  usd,\n  eur,\n  gbp,\n  jpy,\n  cny\n)\nselect \n  to_date(bmi_date, 'YYYY-MM-DD') bmi_date,\n  iso_a3,\n  currency_code,\n  name,\n  local_price,\n  dollar_ex,\n  dollar_price,\n  gdp_dollar,\n  adj_price,\n  usd,\n  eur,\n  gbp,\n  jpy,\n  cny\nfrom json_table(:valueOfValuesArrayIndex0, '$[*]'\n  columns(\n    bmi_date varchar2(255) path '$.date',\n    iso_a3 varchar2(255) path '$.iso_a3',\n    currency_code varchar2(255) path '$.currency_code',\n    name varchar2(255) path '$.name',\n    local_price number path '$.local_price',\n    dollar_ex number path '$.dollar_ex',\n    dollar_price number path '$.dollar_price',\n    gdp_dollar number path '$.GDP_dollar',\n    adj_price number path '$.adj_price',\n    usd number path '$.USD',\n    eur number path '$.EUR',\n    gbp number path '$.GBP',\n    jpy number path '$.JPY',\n    cny number path '$.CNY'\n  )\n)","usemappings":false,"mappings":"[ \"data\" ]","server":"7a8cd783.f6541","resultaction":"none","resultlimit":100,"x":580,"y":340,"wires":[["640b1bde.c4fea4"]]},{"id":"28869251.990dd6","type":"split","z":"57609448.b29974","name":"","splt":"\\n","spltType":"str","arraySplt":"20","arraySpltType":"len","stream":false,"addname":"","x":350,"y":220,"wires":[["f384a8bd.4af0a"]]},{"id":"f384a8bd.4af0a","type":"json","z":"57609448.b29974","name":"","property":"payload","action":"","pretty":false,"x":510,"y":220,"wires":[["b39223ec.ba2d"]]},{"id":"b39223ec.ba2d","type":"change","z":"57609448.b29974","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":320,"wires":[["7032818b.68adc8"]]},{"id":"5fabe02e.a02a98","type":"watch","z":"57609448.b29974","name":"","files":"/data/oowdemo/","recursive":"","x":100,"y":440,"wires":[["6e889ac8.f876c4"]]},{"id":"b3d73757.8906b8","type":"http request","z":"57609448.b29974","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://raw.githubusercontent.com/TheEconomist/big-mac-data/master/output-data/big-mac-adjusted-index.csv","tls":"","proxy":"","authType":"","x":290,"y":60,"wires":[["3c3b57da.913b8"]]},{"id":"7a8cd783.f6541","type":"oracle-server","z":"","host":"oracle-xe","port":"1521","reconnect":true,"reconnecttimeout":"5000","db":"xepdb1"}]