assets/src/nodered/demo6.json
[{"id":"fedc445e.4535a","type":"e-mail in","z":"57609448.b29974","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":110,"y":80,"wires":[["dba26f4f.b1103"]]},{"id":"ac085532.07872","type":"debug","z":"57609448.b29974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":100,"wires":[]},{"id":"dba26f4f.b1103","type":"function","z":"57609448.b29974","name":"","func":"let tmp = {};\n\ntmp.msg = msg.payload;\ntmp.subject = msg.topic;\ntmp.from = msg.header.from.value[0].address;\ntmp.name = msg.header.from.value[0].name;\n\nmsg.payload = tmp;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["1bc5562c.153c1a","46c041dc.9b0e88"]]},{"id":"46c041dc.9b0e88","type":"oracledb","z":"57609448.b29974","name":"","usequery":false,"query":"insert into email (\n  msg, \n  subject, \n  from_address\n)\nvalues (\n  :valueOfValuesArrayIndex0, \n  :valueOfValuesArrayIndex1, \n  :valueOfValuesArrayIndex2\n)","usemappings":false,"mappings":"[\"msg\",\"subject\",\"from\"]","server":"7a8cd783.f6541","resultaction":"none","resultlimit":100,"x":420,"y":280,"wires":[[]]},{"id":"1bc5562c.153c1a","type":"template","z":"57609448.b29974","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello {{payload.msg.name}}.\n\nYou sent this from {{payload.msg.email}}","output":"str","x":420,"y":180,"wires":[["ac085532.07872"]]},{"id":"7a8cd783.f6541","type":"oracle-server","z":"","host":"oracle-xe","port":"1521","reconnect":true,"reconnecttimeout":"5000","db":"xepdb1"}]