assets/src/nodered/demo3.json
[{"id":"4a7c24b6.0fdc5c","type":"inject","z":"57609448.b29974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["6f501db4.1ce9dc"]]},{"id":"6f501db4.1ce9dc","type":"oracledb","z":"57609448.b29974","name":"","usequery":false,"query":"select * from emp","usemappings":false,"mappings":"","server":"7a8cd783.f6541","resultaction":"single","resultlimit":100,"x":300,"y":140,"wires":[["9197751c.dfc0b8"]]},{"id":"a832e23e.19274","type":"http response","z":"57609448.b29974","name":"","statusCode":"","headers":{"content-type":"text/csv","content-disposition":"attachment; filename=\"emp.csv\""},"x":650,"y":200,"wires":[]},{"id":"4b9329b2.172128","type":"http in","z":"57609448.b29974","name":"","url":"/demo-csv","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["6f501db4.1ce9dc"]]},{"id":"c49818b1.cb7958","type":"debug","z":"57609448.b29974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"9197751c.dfc0b8","type":"csv","z":"57609448.b29974","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO","skip":"0","x":470,"y":140,"wires":[["c49818b1.cb7958","a832e23e.19274"]]},{"id":"7a8cd783.f6541","type":"oracle-server","z":"","host":"oracle-xe","port":"1521","reconnect":true,"reconnecttimeout":"5000","db":"xepdb1"}]