assets/src/nodered-backup/flows.json
[{"id":"92dad9af.13f108","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc4a73eb.14fb6","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7132de93.ddb9a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"92d6ef2b.c9fba","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f15bea3.3fb7d18","type":"tab","label":"CSV","disabled":false,"info":""},{"id":"decb7c57.f7ea2","type":"tab","label":"Oracle","disabled":false,"info":""},{"id":"57b6c1d5.dd9c7","type":"oracle-server","z":"","host":"oracle-xe","port":"1521","reconnect":true,"reconnecttimeout":"5000","db":"xepdb1"},{"id":"ed398a7f.a130c8","type":"inject","z":"92dad9af.13f108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.5,"y":86,"wires":[["b9381ba3.559d18"]]},{"id":"b9381ba3.559d18","type":"http request","z":"92dad9af.13f108","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://localhost:1880/test","tls":"","proxy":"","authType":"basic","x":301.5,"y":85,"wires":[["83f7c74d.7337c8"]]},{"id":"c840e535.876408","type":"file in","z":"7132de93.ddb9a","name":"","filename":"/data/files/archive.zip","format":"","chunk":false,"sendError":false,"encoding":"none","x":379.5,"y":147,"wires":[[]]},{"id":"e2eea045.05be1","type":"inject","z":"7132de93.ddb9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.5,"y":64,"wires":[["c840e535.876408"]]},{"id":"6020fed0.b2d41","type":"debug","z":"7132de93.ddb9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":595.5,"y":119,"wires":[]},{"id":"81f8ca8a.8eafd8","type":"http response","z":"7132de93.ddb9a","name":"","statusCode":"","headers":{},"x":648.5,"y":225,"wires":[]},{"id":"7b017428.c59b8c","type":"http in","z":"7132de93.ddb9a","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":115.5,"y":179,"wires":[["c840e535.876408","10d51fb3.4f96d"]]},{"id":"83f7c74d.7337c8","type":"zip","z":"92dad9af.13f108","name":"","mode":"decompress","filename":"","outasstring":true,"x":488.5,"y":85,"wires":[["93d9eb0d.97ac98"]]},{"id":"10d51fb3.4f96d","type":"file in","z":"7132de93.ddb9a","name":"","filename":"/data/files/names.zip","format":"","chunk":false,"sendError":false,"encoding":"none","x":381,"y":282,"wires":[["81f8ca8a.8eafd8"]]},{"id":"6c6e27a8.629988","type":"inject","z":"92d6ef2b.c9fba","name":"msg.payload = \"Red\"","topic":"","payload":"Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":89,"wires":[["55ec9eec.d774d"]]},{"id":"df17403.a7c1ec","type":"debug","z":"92d6ef2b.c9fba","name":"msg.result = RedRedRedRedRed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":617,"y":89,"wires":[]},{"id":"957f0dea.2b5df","type":"change","z":"92d6ef2b.c9fba","name":"msg.result = msg.result + msg.payload","rules":[{"t":"set","p":"result","pt":"msg","to":"$join([msg.result, msg.payload])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":164,"wires":[["55ec9eec.d774d"]]},{"id":"3c38014a.30317e","type":"array-loop","z":"92d6ef2b.c9fba","name":"array-loop","key":"al1a60a19a718526","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":627,"y":284,"wires":[["865c9941.5d3858"],["23492624.58ff7a"]]},{"id":"1a154167.8a1d8f","type":"inject","z":"92d6ef2b.c9fba","name":"msg.payload = \"A, B, C, D, E\"","topic":"","payload":"A, B, C, D, E","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":284,"wires":[["f06e9ed8.5da35"]]},{"id":"865c9941.5d3858","type":"debug","z":"92d6ef2b.c9fba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":797,"y":284,"wires":[]},{"id":"f06e9ed8.5da35","type":"change","z":"92d6ef2b.c9fba","name":"split msg.payload by \", \"","rules":[{"t":"set","p":"array","pt":"msg","to":"$split(msg.payload, ', ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":407,"y":284,"wires":[["3c38014a.30317e","1d2b3fe.f2745c"]]},{"id":"32440289.ba385e","type":"function","z":"92d6ef2b.c9fba","name":"return msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":359,"wires":[["b31986.33167678","3c38014a.30317e"]]},{"id":"b31986.33167678","type":"debug","z":"92d6ef2b.c9fba","name":"1st: \"A\", 2nd: \"B\", 3rd: \"C\", 4th: \"D\", 5th: \"E\"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1082,"y":359,"wires":[]},{"id":"23492624.58ff7a","type":"delay","z":"92d6ef2b.c9fba","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":627,"y":359,"wires":[["32440289.ba385e"]]},{"id":"55ec9eec.d774d","type":"counter-loop","z":"92d6ef2b.c9fba","name":"counter-loop","counter":"il320b54d6e604d4","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":352,"y":89,"wires":[["df17403.a7c1ec"],["957f0dea.2b5df"]]},{"id":"343f2686.010aea","type":"while-loop","z":"92d6ef2b.c9fba","name":"while-loop","condi":"msg.payload % 3 !== 0","x":297,"y":494,"wires":[["6930e2e2.f4750c"],["ad4fca0.7f77e38"]]},{"id":"2c211a9c.b90306","type":"inject","z":"92d6ef2b.c9fba","name":"msg.payload = 5","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":494,"wires":[["343f2686.010aea"]]},{"id":"6930e2e2.f4750c","type":"debug","z":"92d6ef2b.c9fba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":532,"y":494,"wires":[]},{"id":"ad4fca0.7f77e38","type":"change","z":"92d6ef2b.c9fba","name":"msg.payload--","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload) -1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":569,"wires":[["b5295078.486f8","840327d0.4a0d58"]]},{"id":"840327d0.4a0d58","type":"debug","z":"92d6ef2b.c9fba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":502,"y":614,"wires":[]},{"id":"b5295078.486f8","type":"delay","z":"92d6ef2b.c9fba","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":492,"y":569,"wires":[["343f2686.010aea"]]},{"id":"a85f0133.427d6","type":"comment","z":"92d6ef2b.c9fba","name":"msg.payload % 3 !== 0","info":"","x":337,"y":449,"wires":[]},{"id":"1d2b3fe.f2745c","type":"debug","z":"92d6ef2b.c9fba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"array","targetType":"msg","x":757.5,"y":215,"wires":[]},{"id":"93d9eb0d.97ac98","type":"split","z":"92dad9af.13f108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":642.5,"y":83,"wires":[["ba374075.b4fb9"]]},{"id":"ba374075.b4fb9","type":"switch","z":"92dad9af.13f108","name":"","property":"payload.filename","propertyType":"msg","rules":[{"t":"regex","v":"yob[0-9]{4}\\.txt","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":104.5,"y":150,"wires":[["52ee6f99.77426"]],"info":"yob2018\\.txt\nyob[0-9]{4}\\.txt\n"},{"id":"7bf80ff0.8325b","type":"inject","z":"f15bea3.3fb7d18","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":181,"wires":[["1d0f54f0.d03e2b"]]},{"id":"5429257b.44354c","type":"csv","z":"f15bea3.3fb7d18","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","x":386,"y":181,"wires":[["3ed0e222.c4edae"]]},{"id":"3ed0e222.c4edae","type":"debug","z":"f15bea3.3fb7d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":546,"y":181,"wires":[]},{"id":"1d0f54f0.d03e2b","type":"template","z":"f15bea3.3fb7d18","name":"CSV data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Emma,F,18688\nOlivia,F,17921\nAva,F,14924\nIsabella,F,14464\nSophia,F,13928\nCharlotte,F,12940\nMia,F,12642\nAmelia,F,12301\nHarper,F,10582\nEvelyn,F,10376\nAbigail,F,9796\nEmily,F,8656\nElizabeth,F,8513\nMila,F,8126\nElla,F,8055\nAvery,F,8053\nSofia,F,7621","output":"str","x":236,"y":181,"wires":[["5429257b.44354c","357bf3a7.e59dac"]]},{"id":"cc92a509.5d9288","type":"debug","z":"92dad9af.13f108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":606.5,"y":547,"wires":[]},{"id":"357bf3a7.e59dac","type":"debug","z":"f15bea3.3fb7d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":392.5,"y":263,"wires":[]},{"id":"d3c959d2.bae288","type":"oracledb","z":"decb7c57.f7ea2","name":"","usequery":false,"query":"begin\n  logger.log(:valueOfValuesArrayIndex0 || :valueOfValuesArrayIndex1, 'nodered');\nend;","usemappings":false,"mappings":"[\n\t\"name\",\n\t\"sex\"\n]","server":"57b6c1d5.dd9c7","resultaction":"none","resultlimit":100,"x":435.5,"y":203,"wires":[["1165e513.cbd56b"]]},{"id":"b38c21ea.d257e","type":"inject","z":"decb7c57.f7ea2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75.5,"y":75,"wires":[["fd7549de.c48538"]]},{"id":"1165e513.cbd56b","type":"debug","z":"decb7c57.f7ea2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":525.5,"y":300,"wires":[]},{"id":"fd7549de.c48538","type":"template","z":"decb7c57.f7ea2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"Zyran\",\"sex\":\"M\",\"num\":5}","output":"json","x":264.5,"y":158,"wires":[["d3c959d2.bae288","1165e513.cbd56b"]]},{"id":"c73c42ad.5706b","type":"oracledb","z":"decb7c57.f7ea2","name":"","usequery":false,"query":"insert into name_lov(fname, sex)\nvalues (:valueOfValuesArrayIndex0, :valueOfValuesArrayIndex1)","usemappings":false,"mappings":"[\n\t\"name\",\n\t\"sex\"\n]","server":"57b6c1d5.dd9c7","resultaction":"none","resultlimit":100,"x":189,"y":356,"wires":[[]]},{"id":"5285eee1.78646","type":"fastcsv","z":"92dad9af.13f108","name":"fastcsv","headers":false,"headerstr":"name,sex,num","ignoreEmpty":true,"discardUnmappedColumns":false,"strictColumnHandling":false,"delimiter":",","quote":"\"","escape":"\"","comment":"#","ltrim":false,"rtrim":false,"rowDelimiter":"\\n","includeEndRowDelimiter":false,"quoteHeaders":false,"quoteColumns":false,"x":293,"y":251,"wires":[["2b3e7124.ff265e"]]},{"id":"2437c132.82318e","type":"oracledb","z":"92dad9af.13f108","name":"","usequery":false,"query":"insert into name_lov(fname, sex)\nselect name, sex\nfrom json_table(:valueOfValuesArrayIndex0, '$[*]'\n  columns(name varchar2(30) path '$.name', sex varchar2(1) path '$.sex', year number path '$.year')\n)\n","usemappings":false,"mappings":"[\n\t\"data\"\n]","server":"57b6c1d5.dd9c7","resultaction":"none","resultlimit":100,"x":414.5,"y":580,"wires":[["cc92a509.5d9288"]]},{"id":"7f5b1e0a.4a3e","type":"function","z":"92dad9af.13f108","name":"","func":"var str = msg.payload;\n\nmsg.payload = {};\nmsg.payload.data = str;\nreturn msg;","outputs":1,"noerr":0,"x":141.5,"y":547,"wires":[["2437c132.82318e"]]},{"id":"e98b9a1a.46c518","type":"split","z":"92dad9af.13f108","name":"","splt":"\\n","spltType":"str","arraySplt":"500","arraySpltType":"len","stream":false,"addname":"","x":117.5,"y":466,"wires":[["6cdc71e6.30f88"]]},{"id":"6cdc71e6.30f88","type":"json","z":"92dad9af.13f108","name":"","property":"payload","action":"","pretty":false,"x":277.5,"y":467,"wires":[["7f5b1e0a.4a3e"]]},{"id":"ea90d768.bb4dd8","type":"debug","z":"92dad9af.13f108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":758.5,"y":482,"wires":[]},{"id":"52ee6f99.77426","type":"change","z":"92dad9af.13f108","name":"","rules":[{"t":"set","p":"payload.year","pt":"msg","to":"$match(msg.payload.filename, /[0-9]{4}/).match\t","tot":"jsonata"},{"t":"set","p":"payload.data","pt":"msg","to":"msg.payload.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":271.5,"y":150,"wires":[["af285622.a290b8","ea90d768.bb4dd8"]]},{"id":"af285622.a290b8","type":"split","z":"92dad9af.13f108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":500.5,"y":150,"wires":[["229483f0.dafccc"]]},{"id":"392286a6.db064a","type":"http in","z":"fc4a73eb.14fb6","name":"","url":"/parallel","method":"get","upload":false,"swaggerDoc":"","x":75,"y":150,"wires":[["f5290c60.8e0e1"]]},{"id":"f5290c60.8e0e1","type":"change","z":"fc4a73eb.14fb6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"httpbin\":\"http://httpbin.org/get\",\"anything\":\"http://httpbin.org/anything/get\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":307,"y":149,"wires":[["4c4d7d01.40d674"]]},{"id":"4c4d7d01.40d674","type":"split","z":"fc4a73eb.14fb6","name":"","splt":"\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":477,"y":149,"wires":[["9c0df84b.379d18"]]},{"id":"9c0df84b.379d18","type":"switch","z":"fc4a73eb.14fb6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"httpbin","vt":"str"},{"t":"eq","v":"anything","vt":"str"}],"checkall":"true","outputs":2,"x":606,"y":149,"wires":[["6dad457c.6da31c"],["c5a32e68.4233f"]]},{"id":"6dad457c.6da31c","type":"http request","z":"fc4a73eb.14fb6","name":"REST Service 1","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":784,"y":108,"wires":[["bb5b1026.ef02f"]]},{"id":"c5a32e68.4233f","type":"http request","z":"fc4a73eb.14fb6","name":"REST Service 2","method":"GET","ret":"obj","url":"http://httpbin.org/anything/get","tls":"","x":784.5,"y":190,"wires":[["bb5b1026.ef02f"]]},{"id":"bb5b1026.ef02f","type":"join","z":"fc4a73eb.14fb6","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":966,"y":144,"wires":[["3554a098.23ee7"]]},{"id":"3554a098.23ee7","type":"http response","z":"fc4a73eb.14fb6","name":"","statusCode":"","headers":{},"x":1112.5,"y":144,"wires":[]},{"id":"229483f0.dafccc","type":"switch","z":"92dad9af.13f108","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"year","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":105.5,"y":263,"wires":[["5285eee1.78646"],["cb721216.5d6f"]]},{"id":"cb721216.5d6f","type":"change","z":"92dad9af.13f108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":294.5,"y":320,"wires":[["2b3e7124.ff265e"]]},{"id":"a2a70150.32b6f","type":"inject","z":"fc4a73eb.14fb6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":423.5,"y":341,"wires":[["2322807c.770bc"]]},{"id":"2322807c.770bc","type":"template","z":"fc4a73eb.14fb6","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"a\" : 1,\n  \"b\" : 2\n}","output":"json","x":470.5,"y":419,"wires":[["73d0ab9a.a25ad4"]]},{"id":"73d0ab9a.a25ad4","type":"split","z":"fc4a73eb.14fb6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":617.5,"y":308,"wires":[["1cf5ec02.f553a4"]]},{"id":"1cf5ec02.f553a4","type":"switch","z":"fc4a73eb.14fb6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"b","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":701.5,"y":380,"wires":[["220f1b3c.30ccb4"],["4e0625c8.16bf6c"]]},{"id":"839dc8eb.22a1c8","type":"debug","z":"fc4a73eb.14fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1069.5,"y":289,"wires":[]},{"id":"4e0625c8.16bf6c","type":"join","z":"fc4a73eb.14fb6","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":904.5,"y":446,"wires":[["839dc8eb.22a1c8"]]},{"id":"220f1b3c.30ccb4","type":"change","z":"fc4a73eb.14fb6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload * 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.5,"y":311,"wires":[["4e0625c8.16bf6c"]]},{"id":"2b3e7124.ff265e","type":"join","z":"92dad9af.13f108","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":484.5,"y":287,"wires":[["83d38ac3.4b1de8"]]},{"id":"83d38ac3.4b1de8","type":"function","z":"92dad9af.13f108","name":"","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    msg.payload.data[i].year = msg.payload.year   \n}\nmsg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":644.5,"y":287,"wires":[["e98b9a1a.46c518"]]}]